@use '../abstract' as *;

.footer {
  background-color: var(--black);
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    @include linear-gradient(270deg, #202020, #202020 50%, #171717 0, #171717);
    @include transform(translate(-50%) rotateY(0) rotate(40deg));
    @include transform-origin(50% 0);
  }
}
