:root {
  --primary-color: #fb0;
  --primary-dark-color: #cc9600;
  --primary-light-color: #fe0;

  --secondary-color: #ff585d;

  --white: #fff;
  --white-20: rgba(255, 255, 255, 0.2);

  --black: #0d0d0d;
  --black-50: hsla(0, 0%, 5%, 0.5);
  --black-40: hsla(0, 0%, 5%, 0.4);
  --black-20: hsla(0, 0%, 5%, 0.2);

  --color-border: #d6d6d6;
  --subtle-color: hsla(231, 11%, 24%, 0.61);
}
